<div class="container">
    <div class="btns-container flex wrap">
        <a routerLink='/contacts' class="btn back-btn">Back</a>
        <a routerLink='/contacts/edit/{{contact._id}}' class="edit-btn btn primary">Edit Contact</a>
        <a (click)="onRemoveContact(contact._id)" class="btn danger">Delete Contact</a>
    </div>
    <div class="contact-details-container flex align-center" *ngIf="contact">
        <img src="../../../assets/img/users.png" alt="" />
        <div class="contact-content">
            <p class="name">{{contact.name}}</p>
            <p class="phone">{{contact.phone}}</p>
            <p class="email">{{contact.email}}</p>
        </div>
    </div>
    <transfer-fund (onTransferFund)="onTransferFund($event)" [contact]="contact" *ngIf="contact"></transfer-fund>
    <div class="moves-container">
        <h2 class="title">Your moves:</h2>
        <moves-list [moves]="moves"></moves-list>
    </div>
</div>