.contact-details-container {
    margin: 20px 0;

    img {
        width: 40px;
        margin-right: 20px;
    }
}

@media (max-width: 1060px) {
    .contact-details-container {
        padding: 0 15px 0;
    }
}

.back-btn {
    margin-right: 15px;
    color: $clr1;
}

.moves-container {
    .title {
        border-bottom: 1px solid rgba($clr6, 0.2);
        padding: 10px;
    }

    .move-container {
        padding: 10px;
    }
}

@media (max-width: 370px) {
    .btns-container {
        flex-direction: column;
        align-items: center;
        .btn {
            margin-bottom: 15px;
            width: 150px;
            text-align: center;
        }
        .edit-btn, .back-btn {
            margin-right: 0;
        }
    }
}