.contact-edit-form {
    margin-left: 20px;
    input {
        margin-bottom: 10px;
        width: 25%;
    }
}

@media (max-width: 760px) {
    .contact-edit-form {
        .input {
            width: 60%;
        }
    }
}

@media (max-width: 500px) {
    .contact-edit-form {
        .input {
            width: 95.5%;
        }
        
        .btn {
            width: 95.5%;
        }
    }
}