.user-input {
    margin-right: 15px;
}

.hero-container {
    background: url("https://wallpaperaccess.com/full/395434.jpg");
    width: 100%;
    background-size: cover;
    height: calc(100vh - 65px - 37px);
    margin-top: -21px;
    padding-top: 50px;

    .signup-form {
        background-color: rgba($clr6, 0.7);
        padding: 30px 20px;
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 black;

        .signup-title {
            margin-bottom: 15px;
            font-family: livvicSemiBold;
            color: $clr1;
        }
    }
}
