<div class="screen" *ngIf="isMenuOpen" (click)="onToggleMenu()"></div>
<div class="navbar-container flex space-between align-center">
    <div class="logo-container flex align-center">
        <img src="../../../assets/img/about.svg" alt="" />
        <a routerLink="/contacts"><h1 class="logo">misterBitcoin</h1></a>
    </div>
    <ul (click)="onClick($event)" class="main-nav clean-list flex" [ngClass]="{'menu-open': isMenuOpen}">
        <a routerLink='/contacts' *ngIf="user.name" (click)="onToggleMenu()" routerLinkActive="active"><li>Contacts</li></a>
        <a routerLink='/statistics' *ngIf="user.name" (click)="onToggleMenu()" routerLinkActive="active"><li>Statistics</li></a>
        <a routerLink='/signup' (click)="onToggleMenu()" routerLinkActive="active" *ngIf="!user.name"><li>Signup</li></a>
        <a class="pointer" (click)="onLogout.emit(); onToggleMenu();" *ngIf="user.name"><li>Logout</li></a>
    </ul>
    <button (click)="onToggleMenu()" class="menu-open-btn" [ngClass]="{'d-none' : isMenuOpen}"></button>
</div>