<div class="container">
    <form (ngSubmit)="onSaveContact()" class="contact-edit-form flex column align-start">
        <input type="text" [(ngModel)]="contact.name" autocomplete="off" class="input" name="name" placeholder="Name" />
        <input type="text" [(ngModel)]="contact.email" autocomplete="off" class="input" name="email"
            placeholder="Email" />
        <input type="text" [(ngModel)]="contact.phone" autocomplete="off" class="input" name="phone"
            placeholder="Phone" />
        <button class="btn primary">Save Contact</button>
    </form>
</div>